@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.highlight{
    font-weight: bold;
    font-size: 50px;
    color:#EC4C7A;
}
.space{
    margin-top: 50px;
}
.link-button{
    padding:10px 40px;
    background: #EC4C7A;
    color:white;
    text-decoration: none;
    border-radius: 5px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin:2%;
    padding:3%
}
.hello{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
.big-tittle{
    font-size: 40px;
}
.details{
    width:500px;
}
.work-gallary{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallary{
    padding:20px;
    margin:10px;
}
.latest-work{
    margin:2%;
    padding:3%
}